
#bio {

    background-color: $background-light;
    padding-bottom: 1rem;
    margin-bottom: 35px;


    h1 {
        font-family: $font-family-sans-serif;
        color: $primary-color;
}

    h2 {
        font-family: $font-family-sans-serif;
        color: $text-dark;
        font-weight: 500;
}

    h5 {
    font-family: $font-family-sans-serif;
    color: $text-dark;
}

    .lead{
    font-family: $font-family-sans-serif;
    color: $text-dark;
    font-weight: 400;
    margin-top: 4px;
}

p, li {
    font-family: $font-family-sans-serif;
    color: $text-dark;
    font-weight: 400;
}

.display-5 {
        font-family: $font-family-sans-serif;
        color: $primary-color;
        font-weight: 500;
        font-size: 3rem;
        margin-top: -85px;
        text-align: start;
    }
    

.card-subtitle {
    color: $text-dark;
}

}

.btn-primary {
            background-color: $primary-color; 
            border-color: $primary-color; 
            color: $background-light;  
            transition: all 0.3s ease-in-out;
            margin-top: -10px;

            &:hover {
                transform: translateY(-2px);
                border-color: $secondary-color;
                background-color: $secondary-color;
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
            }

        }
    

.bg-secondary-custom {
    background-color: rgb(255, 237, 237);
    }

#experience {

    margin-top: -40px;

     .card {
        border-left: 4px solid $primary-color; 
        transition: transform 0.3s ease-in-out;
        &:hover {
            transform: translateY(-5px); // Un piccolo effetto all'hover
        }
    }

    .display-5 {
        font-family: $font-family-sans-serif;
        color: $primary-color;
        font-weight: 500;
        font-size: 3rem;
        margin-top: -85px;
        text-align: start;
    }
}

#education {

    background-color: $background-light;
    margin-bottom: 40px;

    .card {
        border-left: 5px solid $primary-color; // Una linea per evidenziare i blocchi
        transition: transform 0.3s ease-in-out;
        &:hover {
            transform: translateY(-5px); // Un piccolo effetto all'hover
        }
    }

    .display-5 {
        font-family: $font-family-sans-serif;
        color: $primary-color;
        font-weight: 500;
        font-size: 3rem;
        margin-top: -85px;
        text-align: start;
    }
}

.py-5.text-center {
    background-color: rgb(255, 237, 237);
}

.btn-primary {
            background-color: $primary-color; 
            border-color: $primary-color; 
            color: $background-light;  
            transition: all 0.3s ease-in-out;
            margin-top: -10px;

            &:hover {
                transform: translateY(-2px);
                border-color: $secondary-color;
                background-color: $secondary-color;
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
            }

        }

    #tools {

    background-color: rgb(255, 237, 237);
    margin-top: -40px;
    margin-bottom: -60px;

     .display-4 {
        font-family: $font-family-sans-serif;
        color: $primary-color;
        font-weight: 500;
        font-size: 3rem;
        margin-top: -84px;
        text-align: left;
    }

    .tool-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 1rem;
    }

    .tool-circle {
        width: 80px; 
        height: 80px; 
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%; 
        border: 2px solid white; 
        background-color: white; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        transition: transform 0.3s ease-in-out;
        
        &:hover {
            transform: scale(1.1); 
        }
    }
    
    .tool-circle img {
        width: 60%; 
        height: 60%;
        object-fit: contain; 
    }
    
    .tool-name {
        font-family: $font-family-sans-serif;
        color: $text-dark;
        font-size: 1.3rem;
        font-weight: 500;
    }
}