
#bio {

    background-color: $background-light;
    padding-bottom: 1rem;
    
}

.bg-secondary-custom {
    background-color: rgb(255, 237, 237);
    }

#experience {

     .card {
        border-left: 4px solid $primary-color; 
        transition: transform 0.3s ease-in-out;
        &:hover {
            transform: translateY(-5px); // Un piccolo effetto all'hover
        }
    }

    .display-5 {
        font-family: $font-family-sans-serif;
        color: $primary-color;
        font-weight: 500;
        font-size: 3rem;
        margin-top: -85px;
        text-align: start;
    }
}

#education {

    background-color: $background-light;

    .card {
        border-left: 5px solid $primary-color; // Una linea per evidenziare i blocchi
        transition: transform 0.3s ease-in-out;
        &:hover {
            transform: translateY(-5px); // Un piccolo effetto all'hover
        }
    }

    .display-5 {
        font-family: $font-family-sans-serif;
        color: $primary-color;
        font-weight: 500;
        font-size: 3rem;
        margin-top: -85px;
        text-align: start;
    }
}

h1 {
        font-family: $font-family-sans-serif;
        color: $primary-color;
}

h2 {
        font-family: $font-family-sans-serif;
        color: $text-dark;
        font-weight: 500;
}

h5 {
    font-family: $font-family-sans-serif;
    color: $text-dark;
}

.lead{
    font-family: $font-family-sans-serif;
    color: $text-dark;
    font-weight: 400;
}

p, li {
    font-family: $font-family-sans-serif;
    color: $text-dark;
    font-weight: 400;
}

.display-5 {
        font-family: $font-family-sans-serif;
        color: $primary-color;
        font-weight: 500;
        font-size: 3rem;
        margin-top: -85px;
        text-align: start;
    }
    

.card-subtitle {
    color: $text-dark;
}

.py-5.text-center {
    background-color: $background-light;
}

.btn-primary {
            background-color: $primary-color; 
            border-color: $primary-color; 
            color: $background-light;  
            transition: all 0.3s ease-in-out;
            margin-top: -90px;

            &:hover {
                transform: translateY(-2px);
                border-color: $secondary-color;
                background-color: $secondary-color;
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
            }

        }