
.footer {

    background-color: $primary-color; 
    color: $background-light; 
    font-family: $font-family-label;

    a {
        color: $background-light; 
        opacity: 0.8;
        transition: opacity 0.3s ease-in-out;
        
        &:hover {
            opacity: 1;
        }
    }

    h5{
        color: $background-light;
    }

     .footer-icon-link {
        color: white;
        font-size: 3rem;
        transition: transform 0.3s ease-in-out;
        
        &:hover {
            transform: translateY(-5px); 
            color: lighten(white, 10%); 
        }

        .footer-behance-svg {
            width: 2.2rem; 
            height: 2.2rem;
            filter: brightness(0) invert(1); 
        }
    }
    
    .text-muted {
        color: rgba(255, 255, 255, 0.6) !important;
    }

}

 .footer-project {
       margin-top: -100px;
}