
header {
    padding: 1.5rem 0;
    background-color: rgb(255, 237, 237);
    border-bottom: dotted 2px $primary-color;
    border-bottom-width: 80%;

    .navbar-brand img {
        height: 60px;
    }
    
    .nav-link {
        color: $primary-color;
        font-family: $font-family-label;
        font-size: large;
        font-weight: 500;
        margin: 0 1rem;
        transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;

        &:hover {
            color: $secondary-color;
            transform: rotate(5deg);
        }

        &.active {
        color: $secondary-color !important;
        font-weight: bold;
        }
    }
    
    .btn-primary {
        background-color: $primary-color;
        border-color: $primary-color;
        font-family: $font-family-label;
        color: $background-light;
        font-size: large;
        font-weight: 600;
        padding: 0.75rem 1rem;
        border-radius: $border-radius;
        border-radius: 1rem;
        transition: background-color $transition-speed ease-in-out;
        
        &:hover {
            background-color: $secondary-color;
            border-color: $secondary-color;
            color: $background-light;
        }
    }

}