
#hero {

    background-color: $background-light;
    margin-top: 90px;
    
    .row {
        gap: 3rem;
    }

    .display-5 {
        font-family: $font-family-serif;
        color: $text-dark;
    }

    h1 {

        font-size: 3rem;
        //padding-bottom: 10px;
        text-align: start;

        #job-title {
             
        font-family: $font-family-sans-serif;
        font-size: 4.5rem;
        color: $primary-color;
        font-weight: 500;
        text-align: center;
        transition: opacity 0.5s ease-in-out;
        
    }

    }
    
    .lead {

        font-family: $font-family-sans-serif;
        font-weight: 450;
        font-size: 1.5rem;
        color: $text-dark;
        max-width: 600px;
        margin-top: -10px;
    }

    img {
        padding: 5px;
        width: 100%;
        max-width: 700
        px;
        border-radius: 15px;
    }

    .about-flex-container {
        display: flex; 
        align-items: center; 
        justify-content: left; 
        gap: 1rem; 
        
        // MOBILE
        @media (max-width: 576px) { // Schermi più piccoli di 576px
            flex-direction: column; // Metti gli elementi in colonna
            text-align: center; // Centra il testo
        }
    }
}