// Palette primaria (colori vivi)
$primary-color: #CD1B43;  // Rosso fragola
$secondary-color: #007A3D; // Verde fragola
$background-light: #FFFBF9; // Sfondo molto chiaro
$text-dark: #333333; // Testo
$link-color: #3F1CF4; // Blu/viola
$primary-color-scuro: #7E1028; // Rosso fragola scuro
$secondary-color-scuro: #005B30; // Verde fragola scuro

// Palette secondaria (colori pastello)
$accent-1: #FFB3D9; // Rosa chiaro
$accent-2: #FFEB89; // Giallo pastello
$accent-3: #B3E0C9; // Verde menta
$accent-4: #8A81B3; // Viola

// Font sito
$font-family-serif: 'Shippori Antique', serif; // Titoli
$font-family-sans-serif: 'Work Sans', sans-serif; // Testo

// Altro
$border-radius: 1rem;
$transition-speed: 0.3s;